<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Architect's Notepad - Changelog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <script defer src="https://data.niceygy.net/script.js" data-website-id="cf44cb82-ef40-43b4-a9ea-5e0c4e27e90a"></script>
  </head>
<!--
    <h2>Version 1. - !</h2>
    <p></p>
    <p></p>
    <p><i>Updated on /3311 (2025)</i></p>
    <br> 
-->
  <body>
    <h1>Changelog</h1>

    <h2>Version 1.0.0 - Beta release!</h2>
    <p>Added system notes, which will now tell you if the system is permit-locked, a power's home system and if (it thinks, still gathering data on this one) there is a res site</p>
    <p>Also added functionality to the "description" box when selecting task "Transport Power Commodities", to tell you what one you need</p>
    <p><i>Updated 11:15 On 20/01/3311 (2025)</i></p>
    <br>

    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>
