<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Colonisation Helper - Results</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <script defer src="https://data.niceygy.net/script.js" data-website-id="5a305d97-fef0-4c86-9528-243ae53470ad"></script>
  </head>
  <body>
    <h1>Selected Options</h1>
    <p><strong>System:</strong> {{ system }}</p>

    <h1>Commodities:</h1>
    <ul>
    {% for key, item in data.items() %}
      <li>{{ item[0] }} has {{ key }} (In {{ item[1] }})</li>
    {% endfor %}

    <br />


    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>
