<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architect's Notepad - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script defer src="https://data.niceygy.net/script.js" data-website-id="cf44cb82-ef40-43b4-a9ea-5e0c4e27e90a"></script>
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <div style="text-align: center">
    <h1>Architect's Notepad</h1>
    <h2>Login with inara</h2>
    <p>Please enter your inara api key, and commander name.</p>
    <p>This allows Architect's Notepad to see what squadron you're in, so you can share a search result with them.</p>
    <form action="/logon" method="post">
    <p>squadron Name:</p>
        <input type="text" id="sq" name="sq"></input>
        <br> </br>
    <!-- <input type="text" id="cmdrname">CMDR NAME</input> -->
    <button type="submit">Go!</button>
</form>
    <br>
    <br></br>

</body>
<div class="footer">
    <a href="{{ url_for('index') }}">Home</a>
</div>
</div>
</html>